<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/main :: head(title='Home page')">
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"/>
    <title></title>
</head>
<body>
    <div th:replace="fragments/main :: header"></div>

    <div class="container">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h1>Rooms <small>Rooms configured in admin panel</small></h1>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-4 col-xs-12">
                        <ul th:each="r : ${rooms}" class="nav nav-pills">
                            <li role="presentation"><a class="room" th:attr="data-id=${r.id}" th:text="${r.name}" href="#"></a></li>
                        </ul>
                    </div>
                    <div id="room-devices" class="col-md-8 col-xs-12">

                    </div>
                </div>

            </div>
        </div>

    </div>

    <div th:replace="fragments/main :: footer"></div>
</body>
</html>